@model HollowGlow.ViewModels.ClickerViewModel
@{
    ViewData["Title"] = "Home Page";
}


<script type="text/javascript">

    function update_coins(income) {
        const btn = document.getElementById("LabelCoins");      
        var coins = (Number(btn.value) + Number(income));
        btn.value = coins;
        document.cookie = "coins=" + coins + "; path=/";

    }

</script>

<head>

</head>
<body>
    <div class="card">
        <div class="text-center">
            <h1 class="display-4">Hello, @Model.User.Login! </h1>
            <p> Now you have - @Model.User.Coins coins  <img src="~/images/coin.png" width="50" height="60" /></p>

            <div>
                <p> Here you can earn gold and buy upgrades! </p>
                <p> Income @Model.Income</p>
            </div>

            <label id="textCoins"></label>

            <form asp-action="LoadCoins" asp-controller="main" asp-route-id="@Model.User.Id">
                <div class="form-group">
                    <button type="submit"> Load your Coins! </button>
                </div>
                <div>
                    <input class="coin" OnClick="update_coins(@Model.Income)" type="button" id="LabelCoins" value="0">

                </div>


            </form>

        </div>
    </div>

</body>