@model IEnumerable<HollowGlow.Models.BuildingGradesModel>
@{
    ViewBag.Title = "Окно покупки";
}

<body style="background: url(/images/shop_bg.jpg) no-repeat center center fixed; background-size: cover;">

    <div class="card">
        <p>Your Mine Lvl: @ViewBag.MinerLvl </p>
        <p>Your Castle Lvl: @ViewBag.MainBuildingLvl </p>
        <p>Your Defense Lvl: @ViewBag.DefenseLvl </p>
    </div>
    @foreach (var item in Model) 
    {
        <div class="card_shop">
            <h2> @item.Building.Name - @item.Lvl ID: @item.Id</h2>
            <p> Cost: @item.Cost</p>
            <img class="image_for_shop" src=@item.Building.ImagePath />
            <form asp-action="Buy" asp-controller="main" asp-route-itemId="@item.Id">
                <div class="form-group">
                    <input type="submit"  value="Buy"/>
                </div>

                @if (!ViewData.ModelState.IsValid && item.Id == ViewBag.BadId)
                {
                    <div class="alert alert">
                        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
                    </div>
                }
            </form>
        </div>
    }

</body>
